/* Перекрашиваем основные переменные темы */
:root, [data-md-color-scheme="slate"], [data-md-color-scheme="default"] {
  --md-primary-fg-color: #C3FC6D !important;
  --md-primary-fg-color--light: #d6ff9e !important;
  --md-primary-fg-color--dark: #a8e05a !important;
  --md-primary-bg-color: #000000 !important;
  --md-primary-bg-color--light: rgba(195, 252, 109, 0.1) !important;
}

/* Красим шапку сайта */
header.md-header {
  background-color: #C3FC6D !important;
}

/* Текст и кнопки в шапке (делаем черными для контраста) */
.md-header__title,
.md-header__button,
.md-header__topic,
.md-tabs__link,
.md-source__repository,
.md-source__icon {
  color: #000000 !important;
}

/* Активный таб в навигации */
.md-tabs__link--active {
  color: #000000 !important;
  opacity: 1 !important;
  font-weight: 800 !important;
}

/* Цвет строки поиска */
.md-search__input {
  color: #000000 !important;
}
.md-search__icon {
  color: #000000 !important;
}

/* Полоска под табами */
.md-tabs {
  background-color: #C3FC6D !important;
}